<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/311242a8-d6d6-4f0b-951b-b4c147294d89/resourceGroups/GRtest/providers/Microsoft.Web/sites/doawtest</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://doawtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>doawtest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>doawtest</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$doawtest</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>